<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.BurgerKotlin">
        <activity
            android:name=".ui.role.admin.detail_pesanan.DetailMessageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.role.admin.notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.role.admin.NavigationActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.BurgerKotlin.NoActionBar" />
        <activity
            android:name=".konfirmasi_pesanan"
            android:exported="false" />
        <activity
            android:name=".myprofile"
            android:exported="false" />
        <activity
            android:name=".ui.role.client.about.AboutAppActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.onboarding.OnboardingActivity" />
        <activity android:name=".ui.auth.WelcomeActivity" />
        <activity android:name=".ui.auth.LoginActivity" />
        <activity android:name=".ui.auth.RegisterActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>